/* global css */
@import "tailwindcss";


.corner-gradient {
  /* Using a radial gradient gives a nice corner spotlight effect */
  background-image: radial-gradient(circle at top left, rgba(99, 101, 241, 0.274) 0%, rgba(0, 0, 0, 0) 50%);
  background-attachment: fixed; /* Ensures it stays put when scrolling */
}

/* custom styles */
@theme {
 --color-primary: #6366F1;
 --color-secondary: #10B981;
 --color-background: #FAFAFA;
 --color-text: #111827; 
}


@layer theme{
    /* dark mode variants here for the theme */
} 



